@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.css-typing p {
  font-family: 'Anonymous Pro', monospace;
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid #b5e853;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.css-typing p:nth-child(1) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type1 2s steps(40, end), blink .5s step-end infinite alternate;
  animation: type1 2s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type1 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type1 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

h2:hover{
    animation: glitch-text .2s steps(1) 6 alternate forwards,glitch-blink .6s steps(1) 2
}

@keyframes glitch-text {
    25% {
        transform: skew(10deg) scaleX(1.05)
    }

    50% {
        transform: skew(-20deg) scaleX(1.08)
    }

    75% {
        transform: skew(15deg)
    }

    to {
        transform: skew(0) scaleX(1)
    }
}

@keyframes glitch-blink {
    50% {
        opacity: 0
    }

    75% {
        opacity: 1
    }
}
