<footer>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  top: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: rgba(0, 0, 0, 0.1);
  color: #b5e853;
}

.fa-linkedin {
  background: rgba(0, 0, 0, 0.1);
  color: #b5e853;
}
</style>
  <a href="https://twitter.com/aiman_poji" class="fa fa-twitter"></a>
  <a href="https://www.linkedin.com/in/muhammad-aiman-shamshuri-201112106/" class="fa fa-linkedin"></a>
  <a href="https://github.com/aimanpoji">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>

</footer>